 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 987px;
}

.u-section-1 .u-blog-1 {
  margin-top: 64px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  grid-gap: 26px 26px;
  min-height: 701px;
  grid-auto-columns: calc(33.3333% - 17.3333px);
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 116px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 64px 0 0;
}

.u-section-1 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-repeater-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 116px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 64px 0 0;
}

.u-section-1 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-repeater-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 116px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 64px 0 0;
}

.u-section-1 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-repeater-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 116px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 64px 0 0;
}

.u-section-1 .u-metadata-4 {
  font-size: 0.875rem;
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-blog-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 17.3333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 17.3333px));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    min-height: 1371px;
    grid-auto-columns: calc(50% - 12.999975000000001px);
    grid-template-columns: repeat(2, calc(50% - 12.999975000000001px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5;
  }
}